# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NEXT_PUBLIC_APP_URL="localhost:3000"

# DB
DATABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""

# Stripe
STRIPE_API_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_PRO_MONTHLY_PLAN_ID=""
STRIPE_BASIC_MONTHLY_PLAN_ID=""
STRIPE_REDIRECT="http://localhost:3000/dashboard/billing"

# Next-auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""
NEXT_PUBLIC_SUPABASE_URL=""
JWT_SIGNING_PRIVATE_KEY=""

# Provider auth
GITHUB_ID=""
GITHUB_PASS=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Resend Email
RESEND_API_KEY=""
